@{
    ViewData["Title"] = "Information charts";
}

<h3>
    TODO -> Numer/pozycja
</h3>

<h3>
    TODO -> Wykres kołowy
</h3>

<h3>
    TODO -> Tabelka z najczęstszymi przestępstwami tj. Bójka i pobicie, uszczerbek na zdrowiu, kradzież z włamaniem, kradzież rzeczy, kradzież samochodu,
    uszkoczenie mienia, rozbój i kradzież z wymuszeniem
</h3>

<h4>
    TODO -> Dodać źródło informacji
</h4>