@{
    ViewData["Title"] = "Districts";
}

<h3>
    TODO -> Numer/pozycja
</h3>
<h3>
    TODO -> Zdjęcie opisywanej dzielnicy
    @*
        https://4programmers.net/forum/c_i_.net/236221-asp_net_zdjecie_z_bazy_danych - problem
        https://20fingers2brains.blogspot.com/2013/02/imagehandlerashx-csharp-code-to-convert.html - rozwiązanie
    *@
</h3>
<h3>
    TODO -> Opis dzielnicy
</h3>
<h3>
    TODO -> Myślę nad skalą od 1-10 (płomyczki) które odpowiadałyby niebezpieczeństwu w danej dzielnicy
</h3>
<h3>
    TODO -> Odnośnik do chartsów i statystyk najczęściej popełnianych przestępstw
</h3>
<h4>
    TODO -> Dodać źródło informacji
</h4>