@{
    ViewData["Title"] = "Home Page";
}

<h3>
    TODO -> Obrazek związany z przestępczością, jakieś sygnały świetle czy zapuszczone osiedle

    @*
        https://4programmers.net/forum/c_i_.net/236221-asp_net_zdjecie_z_bazy_danych - problem
        https://20fingers2brains.blogspot.com/2013/02/imagehandlerashx-csharp-code-to-convert.html - rozwiązanie
    *@
</h3>

<h3>
    TODO -> Tutaj jakiś opis dlaczego powstała ta strona
</h3>

<h4>
    TODO -> Dodać źródło informacji
</h4>
